<div class="card">
<div class="card-body grey lighten-3 p-1">
    <div class="card-title text-center">
        <small for="" class="text-muted"><%= perfil.nombre %> re-posteó</small>
    </div>
    <div class="col-md-11  mx-auto">
            <div class="card">
            <div class="card-body p-0">
            <div class="col-md-12 p-0">
                <div class="col-md-12 p-0">
                    <div class="row  p-2">
                        <div class="col-md-2  col-sm-2  col-3 ">
                            <img src="/img/<%= post.perfil_img %>" class="w-75 rounded-circle" alt="">   
                        </div>
                                <div class="col-md-10  col-sm-10 col-9">
                                <div class="row ">
                                    <a href="/perfiles/<%= post.usuario %>" class="black-text mr-2"><h6><%= post.nombre %></h6></a>
                                    <label for="" class="text-muted ml-0 p-0 m-0">@<%= post.usuario %></label>
                                    <small class="ml-3 text-muted"><%= formatearHora(post.fecha) %></small>
                                  </div>
                                <div class="row  "  style="word-break: break-word;">
                                <p class="d-inline-block " style=""><%= post.texto %></p>
                            </div> 
                                <div class="row text-center">
                                    <div class="col-md-4 col-4 col-sm-4">
                                    <button class="bg-transparent border-0 repost" > <i class="material-icons rp yellow-text" title="repostear">lightbulb_outline</i><%= post.shares %></button>
                                    </div>
                                    <div class="col-md-4 col-4 col-sm-4">
                                        <button class="bg-transparent border-0 repost" > <i class="material-icons rp black-text" title="repostear">favorites</i><%= post.likes %></button>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
</div>